/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Form Styles */
  form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
  }
  
  p {
    margin-bottom: 20px;
    color: #666;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="text"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .forgot-link,
  .signup-link,
  .login-link {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .forgot-link:hover,
  .signup-link:hover,
  .login-link:hover {
    color: #3e8e41;
  }
  
  /* Social Media Links Styles */
  .social-links {
    margin-top: 20px;
    text-align: center;
  }
  
  .social-links h2 {
    margin-bottom: 10px;
  }
  
  .social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .social-links li {
    margin: 0 10px;
  }
  
  .social-links a {
    color: #666;
    text-decoration: none;
  }
  
  .social-links a:hover {
    color: #4CAF50;
  }
  
  .social-links i {
    font-size: 24px;
  }
  
  .facebook-link {
    color: #3b5998;
  }
  
  .twitter-link {
    color: #1da1f2;
  }
  
  .google-link {
    color: #dd4b39;
  }